.idea
*.db
*.xlsx
*.pyc
*.bak
*.dat
*.dir
*.dump
node_modules
__pycache__
sqlite
db.sqlite3
db.json
.vs


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
