.post {
    max-width: 500px;
    background-color: blanchedalmond;
    margin-bottom: 16px;
    border: solid;
    border-color: burlywood;
    border-radius: 5px;
    
    justify-content: center;

}

.post__image {
    width: 100%;
    object-fit: fill;
    height: 250px;
}

.post__header {
    display: flex;
    padding: 12px;
    justify-content: space-between;
}

.post__headerInfo {
    margin-left: 10px;
}

.post__bottom {
    padding: 6px 12px;
    background-color: white;
  
}

.feed__posts {
    margin-top: 24px;
    align-self: center;
}

.feed {
    display: flex;
    justify-content: center;
}